/*iPhone 12 Pro*/
html {
	background-color: black;
}

h1 {
	font-family: "Tahoma";
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 38px;
}

.underline {
	text-decoration: underline #ff0000;
}

h3 /*for footer*/ {
	font-family: "Tahoma";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 12px;
}

p {
	font-family: "Tahoma";
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
}

.blacktext {
	color: black;
	background-color: white;
	border-radius: 0.3rem;
}

.redtext {
	color: red;
	background-color: white;
	border-radius: 0.3rem;
}

.redtext2 {
	color: red;
}

.purdue {
	color: #cfb991;
}

.spotify {
	color: #1ed760;
}

.photos {
	color: rgb(248, 226, 23);
}

.books {
	color: white;
}

nav img {
	display: block;
	height: 5rem;
	margin-top: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

main {
	color: white;
	margin-top: 2rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

footer {
	text-align: center;
	color: white;
	margin-top: 2rem;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
	background-color: black;
}

.contact-links {
	color: white;
}

/*----------------------------------------------------------------*/

/*Galaxy S20 Ultra*/
@media screen and (min-width: 412px) {
	body {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}

/*iPad Mini*/
@media screen and (min-width: 768px) {
	h1 {
		font-family: "Tahoma";
		font-size: 50px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 63px;
	}

	p {
		font-family: "Tahoma";
		font-size: 26px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 38px;
	}

	h3 /*for footer*/ {
		font-family: "Tahoma";
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 20px;
	}

	nav img {
		height: 8rem;
	}

	body {
		width: 90%;
		margin-top: 4rem;
		margin-left: auto;
		margin-right: auto;
	}

	body main {
		margin-top: 4rem;
		margin-bottom: 7rem;
	}

	.embed1 {
		width: 75%;
		margin-right: auto;
		margin-left: auto;
	}

	.embed2 {
		width: 75%;
		margin-right: auto;
		margin-left: auto;
	}

	body footer {
		margin-bottom: 4rem;
	}
}

/*iPad Portrait*/
@media screen and (min-width: 820px) {
	h1 {
		font-family: "Tahoma";
		font-size: 50px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 63px;
	}

	p {
		font-family: "Tahoma";
		font-size: 26px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 38px;
	}

	h3 /*for footer*/ {
		font-family: "Tahoma";
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 20px;
	}

	nav img {
		height: 8rem;
	}

	body {
		width: 90%;
		margin-top: 4rem;
		margin-left: auto;
		margin-right: auto;
	}

	body main {
		margin-top: 4rem;
		margin-bottom: 7rem;
	}

	body footer {
		margin-bottom: 4rem;
	}
}

/*Content below starts to look like desktop; embeds are split*/
/*iPad Landscape*/
@media screen and (min-width: 1024px) {
	body {
		width: 80%;
		margin-top: 3rem;
	}

	body main {
		margin-top: 2rem;
	}

	.container {
		display: flex;
	}

	.embed1 {
		width: 50%;
		padding-right: 0.7rem;
	}

	.embed2 {
		width: 50%;
		padding-left: 0.7rem;
	}

	body footer {
		margin-bottom: 4rem;
	}
}

/*iPad Pro Landscape*/
@media screen and (min-width: 1366px) {
	body {
		width: 75%;
	}

	.container {
		display: flex;
	}

	.embed1 {
		width: 45%;
		padding-right: 1rem;
	}

	.embed2 {
		width: 45%;
		padding-left: 1rem;
		flex-grow: 1;
	}

	body footer {
		margin-bottom: 4rem;
	}
}

/*Desktop*/ /*Used to be 1548px*/
@media screen and (min-width: 1650px) {
	body {
		width: 60%;
	}

	body main {
		margin-top: 5rem;
	}

	body main h2 {
		font-size: 45px;
	}

	footer {
		margin-bottom: 8rem;
	}
}
